<style>
  /* 1. centrat d'imatges */
  .main-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Crec que és per a que no surti de la pantalla en mòbils */
  }


  /* Això afecta a H4 (####) */
  .main-content h4 {
    text-transform: none;  /* IMPORTANTE: Esto quita las MAYÚSCULAS forzadas */
    font-weight: bold;     /* Asegura que sea negrita */
    font-size: 1.1em;      /* Puedes cambiar el tamaño (1.2em es más grande, 1.0em normal) */
    color: #24292e;        /* Color del texto (negro oscuro casi gris) */
    margin-top: 20px;      /* Espacio por arriba */
    margin-bottom: 10px;   /* Espacio por abajo */
    letter-spacing: normal; /* Quita el espaciado extra entre letras si lo hubiera */
  }
  
</style>
